/.vs
/Banana/.vs
/Banana/Banana.Uow/obj
/Banana/Banana.Uow/.vs
/Banana/Banana.Uow/bin
/Banana/Banana.Utility/obj
/Banana/Banana.Utility/bin
/Banana/DotNetCore_TestApp/obj
/Banana/DotNetCore_TestApp/bin
/Banana/Banana.Uow/*.user
/Banana/Banana.Uow/Banana.Uow.nuspec
/Banana/Banana.Uow/NuGet.exe
*.nupkg
/Banana/packages
/Banana/DotNetFramework_TestApp/bin
/Banana/DotNetFramework_TestApp/obj
