/.vs
/Banana/.vs
/Banana/Banana.Uow/obj
/Banana/Banana.Uow/.vs
/Banana/Banana.Uow/bin
/Banana/Banana.Utility/obj
/Banana/Banana.Utility/bin
/Banana/DotNetCore_TestApp/obj
/Banana/DotNetCore_TestApp/bin
