/Banana.Uow/Banana.Uow.csproj.user
/Banana.Uow/bin
/Banana.Uow/obj
/Banana.Utility/bin
/UnitTestProject/obj
/UnitTestProject/bin
/Banana.Uow/.vs/Banana.Uow/v15/Server/sqlite3
/Banana.Utility/obj/Debug/netcoreapp2.1
/Banana.Utility/obj
/.vs/Banana.Uow/v15/.suo
