<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Banana.Uow" version="1.0.1" targetFramework="net452" />
  <package id="Dapper" version="1.50.5" targetFramework="net452" />
  <package id="Dapper.Contrib" version="1.50.5" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net452" requireReinstallation="true" />
</packages>